@font-face {
    font-family: 'Hylia Serif';
    src: url('HyliaSerifBeta-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Apply Hylia Serif to all headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Hylia Serif', serif;
    color: #00ff73;
}

/* Apply Lexend Bold to the body text */
body {
    font-family: 'LexendBold', sans-serif;
    color: #ffffff; /* Light grey text color */
    background-color: #121212; /* Darker grey background */
    line-height: 1.6;
    padding: 20px;
}

p {
    font-family: 'LexendBold', sans-serif;
}

/* Additional styling for the markdown container */
#markdown-container {
    font-family: 'LexendBold', sans-serif;
    padding: 20px;
    line-height: 1.6;
    color: #ffffff; /* You can choose any color you like */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
