@font-face {
    font-family: 'Hylia Serif';
    src: url('HyliaSerifBeta-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.6;
    background-color: #1f1f1f; /* Dark background */
    color: #cccccc; /* Light grey text */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Hylia Serif', sans-serif;
    font-weight: normal;
    display: block; /* This will ensure that the header takes up the full line */
    margin-top: 20px; /* You can adjust the top margin as needed */
    margin-bottom: 10px; /* You can adjust the bottom margin as needed */
    border-bottom: 1px solid #878787; /* Light grey line for headers */
    padding-bottom: 5px;
    margin-bottom: 10px; /* Add some margin below the header */
    padding-right: 15px; /* Add 15px padding to the right of the header text */
}

/* Style code blocks */
pre, code {
    display: inline-block; /* Make code blocks inline-block to fit content */
    white-space: pre-wrap; /* Allows the text to wrap */
    word-break: break-word; /* Breaks the words at the end of the line */
    background-color: #2d2d2d;
    border: 1px solid #3c3c3c;
    color: #cccccc;
    padding: 5px;
    margin: 0; /* Remove default margin */
    vertical-align: middle; /* Align with the baseline of the surrounding text */
    overflow: auto; /* Adds scrolling to the code block if content is too wide */
    max-width: 100%; /* Ensures it doesn't overflow horizontally */
}

/* Inline code blocks */
code {
    background-color: #2d2d2d; /* Dark background for contrast */
    color: #cccccc; /* Light text for readability */
    padding: 2px 4px; /* Reduced vertical padding and horizontal padding */
    font-size: 0.85em; /* Smaller font size */
    border-radius: 3px; /* Optional: rounded corners for aesthetic */
    font-family: 'Courier New', monospace; /* Monospaced font for code */
    line-height: normal; /* Adjust this to reduce the space between lines of text */
}

/* Block-level code blocks (within pre elements) may have different styling */
pre code {
    padding: 5px; /* More padding for block-level code */
    display: block;
    overflow-x: auto; /* Horizontal scrolling for long lines of code */
    /* other styles... */
}



strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
    box-shadow: 0 0 5px #3c3c3c; /* Shadow for images */
    border: 1px solid #3c3c3c; /* Border color for images */
}

/* Styles for embedded content */
.embed {
    border: 1px solid #3c3c3c;
    padding: 5px;
    margin: 20px 0;
    background-color: #2d2d2d; /* Background for embeds */
    color: #cccccc; /* Text color for embeds */
}

#markdown-container {
    position: relative;
    width: 55%; /* Set the width to take up half of the screen */
    margin-left: 20px; /* 20 pixels space from the left */
    margin-top: 10px; /* 10 pixels space from the top */
    margin-bottom: 10px; /* 10 pixels space from the bottom */
    padding: 10px; /* Padding inside the container */
    box-sizing: border-box; /* Include padding in the width calculation */
    float: left; /* Float to the left */
    height: calc(100vh - 20px); /* Full height minus the vertical margins */
    overflow-y: auto; /* Add scroll if content is longer than the screen */
    overflow: visible; /* This should be set to ensure contents can be seen outside the container */
}

blockquote {
    border-left: 4px solid #cccccc; /* Light grey border on the left */
    background-color: #2d2d2d; /* Darker background to stand out */
    color: #cccccc; /* Light grey text color */
    padding: 0.5em 10px; /* Padding inside the blockquote */
    margin: 0; /* Resetting margins */
    margin-left: 10px; /* Space before blockquote */
    margin-top: 5px; /* Space above blockquote */
    margin-bottom: 5px; /* Space below blockquote */
    font-style: italic; /* Typically blockquotes are italicized */
}

/* Unvisited link */
a:link {
    color: #00c8ff; /* Pink color for unvisited links */
    text-decoration: none; /* Removes underline */
}

/* Visited link */
a:visited {
    color: #0080ff; /* Purple color for visited links */
}

/* Mouse over link */
a:hover {
    color: #00ff91; /* Blue color on hover */
    text-decoration: underline; /* Underlines link on hover */
}

/* Selected link */
a:active {
    color: #ffffff; /* Black color for active links */
}

.zoom-controls {
    position: absolute;
    top: 0; /* Adjust this value as needed */
    right: 0; /* Adjust this value as needed */
    z-index: 1000; /* Higher value to ensure it's above other content */
    /* ... other styles ... */
}

.zoom-controls button {
    background: #ffffff;
    border: 1px solid #cccccc;
    cursor: pointer;
    margin-left: 5px;
    /* additional styling... */
}