body {
    font-family: 'Lexend', sans-serif; /* Use Lexend as the primary font */
    background-color: #1e1e1e; /* Dark background similar to VS Code */
    color: #d4d4d4; /* Light grey text color for contrast */
}

.grid-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    align-items: flex-start; /* Align items at the start */
    justify-content: center; /* Center items horizontally */
    gap: 15px;
    padding: 20px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px; /* Set width to 200px */
    height: 400px; /* Set height to 200px to maintain a 1:1 aspect ratio */
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid #3c3c3c;
    overflow: hidden;
    color: white;
    font-weight: 700;
    filter: grayscale(100%);
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
    cursor: pointer;
}

.grid-item:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.about-me {
    position: fixed;
    right: 10px; /* Adjust as necessary */
    bottom: 50px; /* Adjust so it does not overlap the question mark */
    background: #252526; 
    color: #d4d4d4; 
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: none; /* Start hidden */
    white-space: nowrap;
    z-index: 100; 
}

.question-mark {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: darkgrey;
    font-size: 24px;
    cursor: pointer;
}

.question-mark:hover {
    color: white;
}

/* Styling for text inside about-me to ensure it's readable */
.about-me p {
    margin: 0;
    color: white; /* Set the text color to white */
    font-family: 'Lexend', sans-serif; /* Use Lexend for the text */
    font-weight: 700; /* Lexend Bold */
}

.question-mark:hover ~ .about-me {
    width: 300px; /* Width to reveal the text; adjust as needed */
    visibility: visible; /* Show the text */
}

/* Add styles for the video */
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.video-overlay video {
    max-width: 100%;
    max-height: 100%;
}